@model Category

<form method="post">
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2 class="text-primary">Create Category</h2>
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="CategoryName" class="p-0"></label>
        <input asp-for="CategoryName" class="form-control" />
    </div>
    <div class="mb-3 row">
        <label asp-for="CategoryDisplayOrder" class="p-0"></label>
        <input asp-for="CategoryDisplayOrder" class="form-control" />
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Create</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
        </div>
    </div>
</form>